@font-face {
    font-family: "brolimo";
    src: 
        url("./fonts/BROLIMO-Normal.otf") format("opentype");
}

@font-face {
    font-family: "brolimo blod";
    src: url("./fonts/BROLIMO-UltraBold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "CormorantGaramond";
    src: url("./fonts/CormorantGaramond-SemiBold.ttf");
}

